
@{
    ViewData["Title"] = "Chatbot";
}

<h2>Chatbot</h2>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>HAPPY BOT</title>
</head>
<body>
    <iframe style="width: 100%; height: 720px" src="https://webchat.snatchbot.me/1acecd5baf6eb5c60515c2bef56397818bb58131caf195dfa78b58855ca4dff1" allow="microphone *"></iframe>

</body>
</html>

