@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "ChatRoom";
}

<h2>ChatRoom</h2>
<iframe src="https://minnit.chat/HAPPYROOM?embed&transparent&nickname=" style="border:none;width:100%;height:720px;" allowTransparency="true"></iframe><br><a href="https://minnit.chat/HAPPYROOM" target="_blank"></a>
<br />

@*chatbot script*@
<script src="https://account.snatchbot.me/script.js"></script>
<script>window.sntchChat.Init(93986)</script>

<iframe src="https://open.spotify.com/embed/playlist/2M0IcdqDTArMPJ2SVtYtea?si=063jor0pSAmKstvGFpC_YA" style="width:100%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
