@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>Use this page to detail your site's privacy policy.</p>

@*chatbot script*@
<script src="https://account.snatchbot.me/script.js"></script>
<script>window.sntchChat.Init(93986)</script>
<br />
<div>
    <a asp-controller="Home" asp-action="Index"><button type="button" class="btn btn-default">BACK</button></a>
</div>